hike.bingluen.tw {
  root /var/www/hike.demo-frontend/dist
  rewrite {
    to {path} {path}/ /index.php?{query}
  }

  fastcgi / php-fpm:9000 php {
    root /var/www/hike.demo-backend/public
    index index.php
  }

  gzip
  log stdout
  errors stderr

  # security
  header / Strict-Transport-Security "max-age=31536000;"

  # performance
  cache {
    match_path /_nuxt
    match_header Content-Type image/jpeg application/javascript
    default_max_age 24h
    status_header X-Cache-Status
  }
}

